<a href="https://colab.research.google.com/github/SamuelMiller413/Market-Analysis/blob/main/MA_cleanup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Script
Running this cell will turn the CSV into a Pandas dataframe, transform the data into binary values, and then save a new CSV File.

In [1]:
# import
import pandas as pd
# clone repository into Colab
!git clone https://github.com/SamuelMiller413/Market-Analysis
# I/O
    # from:
path_from = "/content/Market-Analysis/MA_Data.csv"
    # to:
path_to = "/content/Market-Analysis/MA_Data_Binary.csv"
# read CSV
MA_ = pd.read_csv(filepath_or_buffer=path_from)
# replace 'checked' with 1
MA_ = MA_.replace(to_replace="checked", value=1)
# impute missing data with 0
MA_ = MA_.fillna(0)
# drop 'Notes' column
MA_ = MA_.drop('Notes', axis=1)
# drop 'Z Z' row
MA_ = MA_.drop(MA_.tail(1).index)
# FLOAT --> INT
MA_.iloc[:,1:22] = MA_.iloc[:,1:22].astype(int)
# Save to CSV
MA_.to_csv(path_to)

Cloning into 'Market-Analysis'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

## Drafting the Script

In [2]:
!git clone https://github.com/SamuelMiller413/Market-Analysis

Cloning into 'Market-Analysis'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [3]:
ls

Market-Analysis/  sample_data/

In [9]:
file_path = "/content/Market-Analysis/MA_Data_binary.csv" # Cloned to Colab from Git
MA_ = pd.read_csv(filepath_or_buffer=file_path)

In [10]:
MA_.head()

,Term,Spotify_SFA,Spotify_Creator Promotion,Scribd,QDT,Zignal,WGU,Afterpay,Lumen,Kin + Carta,...,Sprouts,Pngme,Posh,SigFig,GGWP,NExTNet,Dashworks,Alectio,TOTALS,Notes
0,Python,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,19,NaN
1,ML,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,13,NaN
2,collaborative,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,12,NaN
3,statistics,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,...,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,10,NaN
4,presentation,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,10,NaN

In [11]:
# Impute nan with 0
MA_ = MA_.fillna(0)
# drop 'Notes'
MA_ = MA_.drop('Notes', axis=1)
# drop 'Z Z'
MA_ = MA_.drop(MA_.tail(1).index)

In [12]:
MA_.head()

,Term,Spotify_SFA,Spotify_Creator Promotion,Scribd,QDT,Zignal,WGU,Afterpay,Lumen,Kin + Carta,...,Upgrade,Sprouts,Pngme,Posh,SigFig,GGWP,NExTNet,Dashworks,Alectio,TOTALS
0,Python,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,19
1,ML,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,13
2,collaborative,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,12
3,statistics,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,10
4,presentation,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,10

In [13]:
MA_.iloc[:,1:22] = MA_.iloc[:,1:22].astype(int)

In [15]:
MA_.head()

,Term,Spotify_SFA,Spotify_Creator Promotion,Scribd,QDT,Zignal,WGU,Afterpay,Lumen,Kin + Carta,...,Upgrade,Sprouts,Pngme,Posh,SigFig,GGWP,NExTNet,Dashworks,Alectio,TOTALS
0,Python,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,0,1,19
1,ML,0,0,1,1,0,0,0,0,0,...,1,1,1,1,1,1,0,1,1,13
2,collaborative,0,0,0,1,1,0,0,1,0,...,1,1,1,1,1,1,0,0,0,12
3,statistics,0,0,1,0,0,1,1,0,1,...,1,1,1,0,1,1,0,0,0,10
4,presentation,1,1,0,1,0,1,0,0,1,...,1,0,0,1,1,1,0,0,0,10

In [16]:
# Save to CSV
MA_.to_csv(file_path)

In [21]:
# import
import pandas as pd
# clone repository into Colab
!git clone https://github.com/SamuelMiller413/Market-Analysis
# I/O
#   from:
path_from = "/content/Market-Analysis/MA_Data.csv"
#   to:
path_to = "/content/Market-Analysis/MA_Data_Binary.csv"
# read CSV
MA_raw = pd.read_csv(filepath_or_buffer=path_from)
# replace 'checked' with 1
MA_raw = MA_raw.replace(to_replace="checked", value=1)
# impute missing data with 0
MA_raw = MA_raw.fillna(0)
# drop 'Notes' column
MA_raw = MA_raw.drop('Notes', axis=1)
# drop 'Z Z' row
MA_raw = MA_raw.drop(MA_raw.tail(1).index)
# FLOAT --> INT
MA_raw.iloc[:,1:22] = MA_raw.iloc[:,1:22].astype(int)
# Save to CSV
MA_raw.to_csv(path_to)

fatal: destination path 'Market-Analysis' already exists and is not an empty directory.

In [ ]:
MA_raw

In [20]:
# replace 'checked' with value: 1
MA_raw_1 = MA_raw.replace(to_replace="checked", value=1)
MA_raw_1

,Term,Spotify_SFA,Spotify_Creator Promotion,Scribd,QDT,Zignal,WGU,Afterpay,Lumen,Kin + Carta,...,Sprouts,Pngme,Posh,SigFig,GGWP,NExTNet,Dashworks,Alectio,TOTALS,Notes
0,Python,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,19,NaN
1,ML,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,13,NaN
2,collaborative,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,12,NaN
3,statistics,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,...,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,10,NaN
4,presentation,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,transfer learning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN
512,implications,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
513,instrumentation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
514,straightforward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
515,Z Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [ ]:

# impute missing data
MA_raw = MA_raw.fillna(0)
# drop 'Notes' column
MA_raw = MA_raw.drop('Notes', axis=1)
# drop 'Z Z' row
MA_raw = MA_raw.drop(MA_raw.tail(1).index)
# FLOAT --> INT
MA_raw.iloc[:,1:22] = MA_raw.iloc[:,1:22].astype(int)
# Save to CSV
MA_raw.to_csv(file_path)